body{
    background-color: rgb(247, 242, 244);
    font-family: 'Tiro Devanagari Sanskrit', serif;
    
    }
    
    
    .logo-minas{
    
        background-color: violet;
        text-align: center; 
        
        }
    
    
    h1{  
        color: white;
        text-align: center; 
    
    }
    
    
    h2{ 
        color: white;
        text-align: center; 
    
    }
    
    
    
    img {
    
        margin-top: 50px;
        padding: 15px;
    }
    
    h3 {
    
        color: black;
        text-align: center; 
    
    
    }
    
    .desenvolvido{
    
        background: violet light;
        height: 60px;
        max-width: 100%;
        margin:0 auto;
        text-align: left;
        font-size: 20px;
        font-weight: normal;
        color:black;
        line-height: 2.5;
       
    }
    
    .links {
    
        background-color: rgb(33, 210, 201);
        height: 10px;
        max-width: 100%;
        text-align: left; 
        color: white; 
        font-size: 15px;
       
        
    }
    
    .links h4 {
    
        line-height: 3.5;
    }
    
    
    .logos{
    
     background-color: violet;
     text-align: center; 
    }
    
    
    .imagem{
    float: left
    
    }
    
    .curso{
        
         color: black;
    }
    
    .informações{
    
        text-align: left;
        float: none;
    }
